*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    border: 3px dashed maroon;
    background-color: lightsteelblue;
    padding: 50px;
}

.columns{
    border: 4px solid maroon;
    float: left; 
    width: 25%;
    background-color: lightslategray;
    padding: 50px;
}

.clear-fix::after{
    clear: both;
    content: ' ';
    display: block;
}

ul{
    list-style-type: circle;
}

a {
    background-color: rgb(255, 28, 28);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}